apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app
  namespace: go-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: course-app
  template:
    metadata:
      labels:
        app: course-app
    spec:
      serviceAccountName: default
      automountServiceAccountToken: true
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: course-app
          image: ghcr.io/jatikusworo/course_project:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: course-app-config
            - secretRef:
                name: course-app-secret
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
